#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

.card {
	height: 150px;
	width: 100px;
	border: 1px solid green;
	margin: 5px;
	flex-basis: 110px;
	background-color: #F7F809;
}

.card-animal {
	height: 150px;
	width: 100px;
	border: 1px solid green;
	margin: 5px;
	flex-basis: 110px;
}

.card-animal > img {
	display: block;
}

.card-chamomile {
	height: 150px;
	width: 100px;
	border: 1px solid green;
	margin: 5px;
	flex-basis: 110px;
	background-image: url('/images/oblozhka1051.jpg');
	background-position: center;
}
.card-chamomile > img {
	display: none;
}

img {
	height: 149px;
	width: 109px;
    border: solid 1px #000;
    margin-right: 20px;
    margin-bottom: 50px;
    background-position: center;
    
}

div {
	border: 1px solid black;
}

#start-game {
	background: orange;
	border: 1px solid green;
	height: 70px;
	width: 100px;
}

#game-rules {
	background: lightblue;
	border: 1px solid green;
	height: 70px;
	width: 100px;
}

#game-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#timer {
	height: 50px;
	width: 150px;
	margin: auto;
}

#status-box {
	height: 150px;
	width: 150px;
	margin: auto;
}

#new-game {
	height: 50px;
	width: 150px;
	margin: auto;
}


